* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif;
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }
}
